.claude
.idea
.VSCodeCounter
.vscode
.vs
.codecheck

build_temp/
target/

src/stdx/encoding/json/native/*.a
src/stdx/encoding/json/native/json_api.h

third_party/zlib

third_party/boundscheck-v1.1.16
src/stdx/chir/StdxChirFormat_generated.cj
src/stdx/syntax/StdxSyntaxFormat_generated.cj
build-script-cache
cjpm.lock
